* {
  box-sizing: border-box;
}

.modal {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    text-align:center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.inpt {
    border-radius: 5px;
    width: 50%;
    height: 25px;
}

.modal-content {
    background-color: #fefefe;
    justify-content: center;
    text-align:center;
    border-radius: 10px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-content1 {
    background-color: #fefefe;
    justify-content: center;
    text-align:center;
    border-radius: 10px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    color: #cda882;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #665441;
    text-decoration: none;
    transition:all .3s ease-in-out;
    cursor: pointer;
}

html{
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-image: url("https://cdn.discordapp.com/attachments/708903554173108296/1153217504408240159/1695018868371.jpg");
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding:1vw;
}

h1{
  color:#cda882;
  margin:30px auto;
  width:50%;
  text-align:center;
  padding:20px;
  text-transform:uppercase;
  font-size:2vw;
  letter-spacing:5px;
  border-top:1px solid;
}

h2{
  color:#cda882;
  margin:30px auto;
  width:50%;
  text-align:center;
  text-transform:uppercase;
  font-size:1vw;
  letter-spacing:5px;
  border-bottom:1px solid;
}

.contentBox{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonBox{
  margin: 0 20px 40px;
  position:relative;
  max-width: 200px;
  min-width: 150px;
  flex: 20%;
}

button{
  width:100%;
  height:80px;
  position:relative;
  background:rgba(234, 219, 203, .40);
  text-transform:uppercase;
  color: #eadbcb;
  font-weight:700;
  letter-spacing:1px;
  border:none;
  font-size:15px;
  outline:none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
}

.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}

#fourth>.border:nth-of-type(1){
  top:0;
  left:0;
  width:0;
  height:0;
  border-top:1px solid #eadbcb;
}

#fourth>.border:nth-of-type(2){
  top:0;
  right:0;
  width:10px;
  height:0;
  border-right:1px solid #eadbcb;
}

#fourth>.border:nth-of-type(3){
  bottom:0;
  right:0;
  width:0;
  height:0;
  border-bottom:1px solid #eadbcb;
}

#fourth>.border:nth-of-type(4){
  bottom:0;
  left:0;
  width:0;
  height:0;
  border-left:1px solid #eadbcb;
}

#fourth:hover .border:nth-of-type(1){
  width:100%;
}

#fourth:hover .border:nth-of-type(2){
  height:80px;
}

#fourth:hover .border:nth-of-type(3){
  width:100%;
}

#fourth:hover .border:nth-of-type(4){
  height:80px;
}

.btn {
    margin:10px auto;
    width:84px;
    height:20px;
    background:rgba(234, 219, 203, .10);
    letter-spacing:1px;
    color: #cda882;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    text-transform:uppercase;
    font-weight:700;
    border:none;
    font-size:15px;
    outline:none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}

.btn:hover {
    color: #665441;
}

@media(max-width: 1200px) {
  #content-box {
    width: 100%; 
  }
}