* {
  box-sizing: border-box;
}

.modal { 
     display: none; 
     justify-content: center; 
     position: fixed; 
     z-index: 1; 
     left: 0; 
     top: -15%; 
     text-align:center; 
     width: 100%; 
     height: 200%; 
     overflow: auto; 
     background-color: rgba(0, 0, 0, 0.4); 
     padding-top: 60px; 
 }

 .modal-content { 
     background-color: #fefefe; 
     justify-content: center; 
     text-align:center; 
     border-radius: 10px; 
     margin: 5% auto; 
     padding: 10px; 
     border: 1px solid #888; 
     width: 40%; 
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
 }

.close {
    color: #cda882;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #665441;
    text-decoration: none;
    transition:all .3s ease-in-out;
    cursor: pointer;
}

html{
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-image: url("https://cdn.discordapp.com/attachments/708903554173108296/1153217504408240159/1695018868371.jpg");
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding:1vw;
}

h1{
  color:#cda882;
  margin:30px auto;
  width:50%;
  text-align:center;
  padding:20px;
  text-transform:uppercase;
  font-size:2vw;
  letter-spacing:5px;
  border-top:1px solid;
}

h2{
  color:#cda882;
  margin:30px auto;
  width:50%;
  text-align:center;
  text-transform:uppercase;
  font-size:1vw;
  letter-spacing:5px;
  border-bottom:1px solid;
}

.contentBox{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonBox{
  margin: 0 20px 40px;
  position:relative;
  max-width: 200px;
  min-width: 150px;
  flex: 20%;
}

button{
  width:100%;
  height:80px;
  position:relative;
  background:rgba(234, 219, 203, .40);
  text-transform:uppercase;
  color: #eadbcb;
  font-weight:700;
  letter-spacing:1px;
  border:none;
  font-size:15px;
  outline:none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
}

.btn {
    margin:10px auto;
    width:84px;
    height:20px;
    background:rgba(234, 219, 203, .10);
    letter-spacing:1px;
    color: #cda882;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    text-transform:uppercase;
    font-weight:700;
    border:none;
    font-size:15px;
    outline:none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}

.btn:hover {
    color: #665441;
}


/* PRIMER BOTON */

.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}

#first>.border:nth-of-type(1){
  top:0;
  left:0;
  border-left:1px solid #eadbcb;
  border-top:1px solid #eadbcb;
  width:30px;
  height:30px;
}

#first>.border:nth-of-type(2){
  bottom:0;
  right:0;
  border-right:1px solid #eadbcb;
  border-bottom:1px solid #eadbcb;
  width:30px;
  height:30px;
}

#first:hover .border{
  width:102%;
  height:105%;
}


/* SEGUNDO BOTON */


#second>.border:nth-of-type(1){
  top:0;
  left:50%;
  width:0;
  border-top:1px solid #eadbcb;
  transition:width .5s ease-in-out, transform 1s ease-in-out;
}

#second>.border:nth-of-type(2){
  bottom:0;
  left:50%;
  width:0;
  border-bottom:1px solid #eadbcb;
  transition:width .5s ease-in-out, transform 1s ease-in-out;
}

#second:hover .border{
  transform:translate(-50%, 0);
  width:100%;
  transition:width .8s ease-in-out, transform .3s ease-in-out;
}

/* TERCER BOTON */

#third>.border:nth-of-type(1){
  top:0;
  left:0;
  border-top:1px solid #eadbcb;
  width:100%;
  height:100%;
}

#third>.border:nth-of-type(2){
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  border-bottom:1px solid #eadbcb;
}

#third>.border:nth-of-type(3){
  left:0;
  top:0;
  height:100%;
  width:100%;
  border-left:1px solid #eadbcb;
}

#third>.border:nth-of-type(4){
  top:0;
  right:0;
  height:100%;
  width:100%;
  border-right:1px solid #eadbcb;
}

#third:hover .border:nth-of-type(1){
  transform:translate(0, 99%);
}

#third:hover .border:nth-of-type(2){
  transform:translate(0, -99%);
}

#third:hover .border:nth-of-type(3){
  transform:translate(99%, 0);
}

#third:hover .border:nth-of-type(4){
  transform:translate(-99%, 0);
}

/* CUARTO BOTON */

#fourth>.border:nth-of-type(1){
  top:0;
  left:0;
  width:0;
  height:0;
  border-top:1px solid #eadbcb;
}

#fourth>.border:nth-of-type(2){
  top:0;
  right:0;
  width:10px;
  height:0;
  border-right:1px solid #eadbcb;
}

#fourth>.border:nth-of-type(3){
  bottom:0;
  right:0;
  width:0;
  height:0;
  border-bottom:1px solid #eadbcb;
}

#fourth>.border:nth-of-type(4){
  bottom:0;
  left:0;
  width:0;
  height:0;
  border-left:1px solid #eadbcb;
}

#fourth:hover .border:nth-of-type(1){
  width:100%;
}

#fourth:hover .border:nth-of-type(2){
  height:80px;
}

#fourth:hover .border:nth-of-type(3){
  width:100%;
}

#fourth:hover .border:nth-of-type(4){
  height:80px;
}


/* QUINTO BOTON */

#fifth{
  overflow:hidden;
  border: 1px solid rgba(234, 219, 203, 0);
  transition:all .2s ease-in-out;
}

#fifth:before{
  content:" ";
  display:block;
  width:200px;
  height:80px;
  background:rgba(234, 219, 203, .4);
  position:absolute;
  top:-10px;
  left:-200px;
  transform:rotate(-45deg);
  transition:all .2s ease-in-out;  
}

#fifth:hover:before{
  margin-left:300%;
}

#fifth:hover {
  border: 1px solid rgba(234, 219, 203, 1);
}


/* SEXTO BOTON */

#sixth{
  overflow:hidden;
}

#sixth>button{
  z-index:1;
  transition:color .5s ease;
}

#sixth .border{
  z-index:0;
  background:#eadbcb;
  width:30px;
  height:30px;
  transform:rotate(45deg);
}

#sixth>.border:nth-of-type(1){
  top:-35px;
  left:-30px; 
}

#sixth>.border:nth-of-type(2){
  top:-35px;
  right:-30px;
}

#sixth>.border:nth-of-type(3){
  bottom:-35px;
  left:-30px;
}

#sixth>.border:nth-of-type(4){
  bottom:-35px;
  right:-30px;
}

#sixth:hover .border{
  transform:scale(15.7) rotate(45deg);
}

#sixth:hover button{
  color:#cda882;
  transition:color 2s ease;
}


/* SETIMO BOTON */

#seventh>button{
  border:1px solid rgba(234, 219, 203, 0);
  transition:all .5s ease-in-out;
}

#seventh:hover button{
  border:1px solid #eadbcb;
  font-size:20px;
}


/* OCTAVO BOTON */

#eighth>button{
  transition: all .18s ease-in-out;
}

#eighth:hover button{
  text-shadow:
    0 0 30px rgba(234, 219, 203, 1),
    0 0 60px rgba(234, 219, 203, .8),
    0 0 75px rgba(234, 219, 203, .6),
    0 0 80px rgba(234, 219, 203, .4),
    0 0 77px rgba(234, 219, 203, .5),
    0 0 78px rgba(234, 219, 203, .4),
    0 0 79px rgba(234, 219, 203, .3),
    0 0 80px rgba(234, 219, 203, .2),
    0 0 120px rgba(234, 219, 203, .1);
}


/* NOVENO BOTON */

#ninth>buttoni{
  transition:all .5s ease-in-out;
}

#ninth:hover buttoni{
  color:#665441;
}


/* DECIMO BOTON */

#tenth>button{
  letter-spacing:0;
}

#tenth span{
  letter-spacing:0;
  display:inline-block;
  position:relative;
  width:8px;
  transition:all .5s ease-in-out;
}

#tenth span:nth-of-type(4){
  width:5px;
}

#tenth span:nth-of-type(6){
  width:1px;
}

#tenth span:nth-of-type(8){
  width:4px;
}

#tenth:hover span:nth-of-type(1){
  animation:h .5s;
}

#tenth:hover span:nth-of-type(2){
  animation:o .5s;
}

#tenth:hover span:nth-of-type(3){
  animation:v .5s;
}

#tenth:hover span:nth-of-type(4){
  animation:e .5s;
}

#tenth:hover span:nth-of-type(5){
  animation:r .5s;
}

#tenth:hover span:nth-of-type(7){
  animation:t .5s;
}

#tenth:hover span:nth-of-type(8){
  animation:e .5s;
}

#tenth:hover span:nth-of-type(9){
  animation:n .5s;
}

@keyframes h{
  0%{transform:translate(0, 0);}
  50%{transform:translate(50px, 5px);}
  75%{transform:translate(5px, 5px);}
  80%{transform:translate(0, 0);}
  100%{transform:translate(0, 0);}
}

@keyframes o{
  0%{transform:translate(0, 0);}
  25%{transform:translate(-4px, 0);}
  50%{transform:translate(3px, 4px);}
  80%{transform:translate(0, 0);}
  100%{transform:translate(0, 0);}
}

@keyframes v{
  0%{transform:translate(0, 0);}
  20%{transform:rotate(360deg);}
  50%{transform:scale(2);}
  80%{transform:translate(0, 0);}
  100%{transform:translate(0, 0);}
}

@keyframes e{
  0%{transform:translate(0, 0);}
  20%{transform:translate(-10px, -2px);}
  80%{transform:translate(0, 0);}
  100%{transform:translate(0, 0);}
}

@keyframes r{
  0%{transform:translate(0, 0);}
  20%{transform:translate(0, 10px);}
  80%{transform:translate(0, 32px);}
  100%{transform:translate(0, 0);}
}

@keyframes t{
  0%{transform:translate(0, 0);}
  20%{transform:translate(0, -10px);}
  40%{transform:translate(0, 0);}
  60%{transform:translate(0, -10px);}
  80%{transform:translate(0, 0);}
  100%{transform:translate(0, 0);}
}

@keyframes n{
  0%{transform:translate(0, 0);}
  50%{transform:skewY(50deg);}
  80%{transform:translate(0, 0);}
  100%{transform:translate(0, 0);}
}


@media(max-width: 1200px) {
  #content-box {
    width: 100%; 
  }
}