<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaClienteIdServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ConsultaClienteIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaClientes</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ConsultaClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarClienteServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.InsertarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarClienteServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ActualizarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarClienteServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.BorrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarPrestamoServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.InsertarPrestamoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaPrestamoIdServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ConsultaPrestamoIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaPrestamosServlets</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ConsultaPrestamosServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPrestamoServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.BorrarPrestamoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPrestamoServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ActualizarPrestamoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarLibroIdServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ConsultarLibroIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarLibrosServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ConsultarLibrosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarLibroServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.BorrarLibroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarLibroServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.InsertarLibroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarLibroServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ActualizarLibroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaGenerosPopularesServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ConsultaGenerosPopularesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaEditorialOrigenServlet</servlet-name>
        <servlet-class>com.mycompany.project1_bd2.Servlets.ConsultaEditorialOrigenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaClienteIdServlet</servlet-name>
        <url-pattern>/ConsultaClienteIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaClientes</servlet-name>
        <url-pattern>/ConsultaClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarClienteServlet</servlet-name>
        <url-pattern>/InsertarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarClienteServlet</servlet-name>
        <url-pattern>/ActualizarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarClienteServlet</servlet-name>
        <url-pattern>/BorrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarPrestamoServlet</servlet-name>
        <url-pattern>/InsertarPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaPrestamoIdServlet</servlet-name>
        <url-pattern>/ConsultaPrestamoId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaPrestamosServlets</servlet-name>
        <url-pattern>/ConsultaPrestamos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPrestamoServlet</servlet-name>
        <url-pattern>/BorrarPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPrestamoServlet</servlet-name>
        <url-pattern>/ActualizarPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarLibroIdServlet</servlet-name>
        <url-pattern>/ConsultarLibroId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarLibrosServlet</servlet-name>
        <url-pattern>/ConsultarLibros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarLibroServlet</servlet-name>
        <url-pattern>/BorrarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarLibroServlet</servlet-name>
        <url-pattern>/InsertarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarLibroServlet</servlet-name>
        <url-pattern>/ActualizarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaGenerosPopularesServlet</servlet-name>
        <url-pattern>/ConsultaGenerosPopulares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaEditorialOrigenServlet</servlet-name>
        <url-pattern>/ConsultaEditorialOrigen</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
